.layout-container {
  .layout-aside {
    .el-scrollbar__view {
      overflow: unset;
    }
  }
}

.error.layout-padding {
  position: relative;
}

.el-form .mb20 .el-form-item:last-of-type {
  margin-bottom: 0px !important;
}

/* 文字省略
------------------------------- */
@for $i from 1 through 5 {
  .my-line-#{$i} {
    @if $i == '1' {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    } @else {
      display: -webkit-box !important;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      -webkit-line-clamp: $i;
      -webkit-box-orient: vertical !important;
    }
  }
}
